<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Learn Vue 07</title>
	<!-- 开发环境版本，包含了用帮助的命令行警告 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="Css/default.css"/>
</head>
<body>
	<div id="app">
		<ul>
			<li v-for="item in items">
				{{item.message}}
			</li>
		</ul>
	</div>

	<div id="app-2">
		<ul>
			<li v-for="(item,index) in items">
				{{parentMessage}} - {{item.message}} - {{index}}
			</li>
		</ul>
	</div>

	<div id="app-3">
		<ul>
			<li v-for='value in object'>
				{{value}}
			</li>
		</ul>
	</div>

	<div id="app-4">
		<ul>
			<li v-for="(value,key) in object">
				{{key}} - {{value}}
			</li>
		</ul>
	</div>

	<div id="app-5">
		<ul>
			<li v-for="(value,key,index) in object" >
				{{index}}、{{key}} - {{value}}
			</li>
		</ul>
	</div>

	<div id="app-6">
		<ul>
			<li v-for="item in items" v-bind:key='item.id'>{{item.message}}</li>
		</ul>
	</div>

	<div id="app-7">
		<ul>
			<li v-for="item in items">
				{{item.message}}
			</li>
		</ul>

		<a href="javascript:void(0)" class="btn" @click="MatchItem">替换数组</a>
	</div>

	<script type="text/javascript">
		var app=new Vue({
			el:"#app",
			data:{	
				items:[
					{message:"bar"},
					{message:"foo"}
				]
			}
		});

		var app2=new Vue({
			el:"#app-2",
			data:{
				parentMessage:"ParentMessage",
				items:[
					{message:"bar"},
					{message:"foo"},
					{message:"noz"}
				]
			}
		});

		var app3=new Vue({
			el:"#app-3",
			data:{
				object:{
					firstname:"shujie",
					lastname:"zhou",
					age:"26"
				}
			}
		});

		var app4=new Vue({
			el:"#app-4",
			data:{
				object:{
					firstname:"shujie",
					lastname:"zhou",
					age:26
				}
			}
		});

		var app5=new Vue({
			el:"#app-5",
			data:{
				object:{
					firstname:"shujie",
					lastname:"zhou",
					age:26
				}
			}
		});

		var app6=new Vue({
			el:"#app-6",
			data:{
				items:[
					{id:1,message:"bar"},
					{id:2,message:"foo"},
					{id:3,message:"noz"}
				]
			}
		});

		var app7=new Vue({
			el:"#app-7",
			data:{
				items:[
					{message:"bar"},
					{message:"foo"}
				]
			},
			methods:{
				MatchItem:function(){
					console.log(app7.items);
					app7.items=app7.items.filter(function(item){
						return item.message.match(/foo/);
					});
				}
			}
		});
	</script>
</body>
</html>