<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Learn Vue 07</title>
	<!-- 开发环境版本，包含了用帮助的命令行警告 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="Css/default.css"/>
</head>
<body>
	<div id="app">
		<ul>
			<li v-for="item in items">
				{{item.message}}
			</li>
		</ul>
	</div>

	<div id="app-2">
		<ul>
			<li v-for="(item,index) in items">
				{{parentMessage}} - {{item.message}} - {{index}}
			</li>
		</ul>
	</div>

	<div id="app-3">
		<ul>
			<li v-for='value in object'>
				{{value}}
			</li>
		</ul>
	</div>

	<div id="app-4">
		<ul>
			<li v-for="(value,key) in object">
				{{key}} - {{value}}
			</li>
		</ul>
	</div>

	<div id="app-5">
		<ul>
			<li v-for="(value,key,index) in object" >
				{{index}}、{{key}} - {{value}}
			</li>
		</ul>
	</div>

	<div id="app-6">
		<ul> 
			<li v-for="item in items" v-bind:key='item.id'>{{item.message}}</li>
		</ul> 	
		<a href="javascript:void(0)" class="btn" @click="PushArray" title="向数组的末尾添加一个或多个元素，并返回新的长度">push</a>
		<a href="javascript:void(0)" class="btn" @click="PopArray" title="删除数组的最后一个元素并返回删除的元素">pop</a>
		<a href="javascript:void(0)" class="btn" @click="ShiftArray" title="把数组的第一个元素从其中删除，并返回第一个元素的值">shift</a>
		<a href="javascript:void(0)" class="btn" @click="UnshiftArray" title="向数组的开头添加一个或更多元素，并返回新的长度">unshift</a>
		<a href="javascript:void(0)" class="btn" @click="SpliceArray" title="用于插入、删除或替换数组的元素">splice</a>
		<a href="javascript:void(0)" class="btn" @click="SortArray" title="用于对数组的元素进行排序 -- 默认排序顺序为按字母升序">sort</a>
		<a href="javascript:void(0)" class="btn" @click="ReverseArray" title="用于颠倒数组中元素的顺序">reverse</a>
	</div>

	<div id="app-7">
		<ul> 
			<li v-for="item in items">
				{{item.message}}
			</li>
		</ul> 

		<a href="javascript:void(0)" class="btn" @click="MatchItem">替换数组</a>
	</div> 

	<div id="app-8">
		<ul>
			<li v-for="item in items">
				{{item}}
			</li>
		</ul>

		<a href="javascript:void(0)" class="btn" @click="ChangeValue">change first value</a>
	</div>

	<div id="app-9">
		<ul>
			<li v-for="value in obj">{{value}}</li>
		</ul>
		<a href="javascript:void(0)" class="btn" @click="AddNewValue">add new value</a>
	</div>

	<div id="app-10">
		<ul>
			<li v-for="value in obj">{{value}}</li>
		</ul>
		<a href="javascript:void(0)" class="btn" @click="AddNewValues">add new values</a>
	</div>  

	<div id="app-11">
		<ul>
			<li v-for="num in evenNumber">{{num}}</li>
		</ul>
	</div>

	<div id="app-12">
		<ul>
			<li v-for="num in even(numbers)">{{num}}</li>
		</ul>
	</div>

	<div id="app-13">
		<ul>
			<li v-for="item in items" v-if="!item.isDel">
				{{item.msg}}
			</li>
		</ul>	
	</div>

	<div id="app-14">
		<ul v-if="items.length">
			<li v-for="item in items">
				{{item.msg}}
			</li>
		</ul>
		<p v-else>no items</p>
	</div>

	<div id="app-15">
		<ul>
			<my-component v-for="(item,index) in items" v-bind:item='item' v-bind:key='item.id' v-bind:index="index"></my-component>
		</ul>
	</div>



	<script type="text/javascript">
		var app=new Vue({
			el:"#app",
			data:{	
				items:[
					{message:"bar"},
					{message:"foo"}
				]
			}
		});

		var app2=new Vue({
			el:"#app-2",
			data:{
				parentMessage:"ParentMessage",
				items:[
					{message:"bar"},
					{message:"foo"},
					{message:"noz"}
				]
			}
		});

		var app3=new Vue({
			el:"#app-3",
			data:{
				object:{
					firstname:"shujie",
					lastname:"zhou",
					age:"26"
				}
			}
		});

		var app4=new Vue({
			el:"#app-4",
			data:{
				object:{
					firstname:"shujie",
					lastname:"zhou",
					age:26
				}
			}
		});

		var app5=new Vue({
			el:"#app-5",
			data:{
				object:{
					firstname:"shujie",
					lastname:"zhou",
					age:26
				}
			}
		});

		var app6=new Vue({
			el:"#app-6",
			data:{
				items:[ 
					{id:3,message:"bar"},
					{id:1,message:"foo"},
					{id:2,message:"noz"}
				]
			},
			methods:{				
				PushArray:function(){
					var i=this.items.push({message:"baz"});
					console.log(i);
				},
				PopArray:function(){
					var obj=this.items.pop();
					console.log(obj);
				},
				ShiftArray:function(){
					var obj=this.items.shift();
					console.log(obj);
				},
				UnshiftArray:function(){
					var i=this.items.unshift({message:"baa"},{message:"bab"});
					console.log(i);
				},
				SpliceArray:function(){
					//splice(index,howmany,item1...itemX)
					//index 必选 从下标为index处 添加/删除/替换元素 必须为数字
					//howmany 必选 规定删除多少个元素，可为0
					//item1...itemX 可选 添加的元素
					
					this.items.splice(0,1,{message:"baa"},{message:"bab"}); //将下标为0的元素处 替换1个元素为 {message:"baa"},{message:"bab"} 
					//this.items.splice(0,1); //将下标为0的元素处 删除1个元素
					//this.items.splice(0,0,{message:"baa"}); //将下标为0的元素处 插入元素{message:"baa"}
				},
				SortArray:function(){
					this.items=this.items.sort(); 
					console.log(this.items);
					//默认是升序
					//数字排序 升序：sort(function(a,b){return a-b;})  降序：sort(function(a,b){return b-a;})
					//字母降序：sort().reverse()
				},
				ReverseArray:function(){
					this.items.reverse();
				}
			}
		});

		var app7=new Vue({
			el:"#app-7",
			data:{
				items:[ 
					{message:"bar"},
					{message:"foo"}
				]
			},
			methods:{ 
				MatchItem:function(){
					console.log(app7.items);
					app7.items=app7.items.filter(function(item){
						return item.message.match(/foo/);
					});
				} 
			}
		});

		var app8=new Vue({
			el:"#app-8",
			data:{
				items:["bar","baa","bab"]
			},
			methods:{
				ChangeValue:function(){
					//app8.items[0]="zhou"; // 不是响应性的
					//Vue.set(this.items,0,'X');//响应性的 				
					this.items.splice(0,1,'bbb');//响应性的
					console.log(this.items[0]);
				}
			}
		});  

		var app9=new Vue({
			el:"#app-9",
			data:{
				obj:{
					id:1,
					name:'noz',
					age:1993
				}
			},
			methods:{
				AddNewValue:function(){
					//this.obj.day="028"; // 不是响应性的
					Vue.set(this.obj,"day",'028'); //响应性的
					console.log(this.obj.day);
				}
			}
		});

		var app10=new Vue({
			el:"#app-10",
			data:{
				obj:{
					name:"noz",
					sex:1,
					age:24
				}
			},
			methods:{
				AddNewValues:function(){
					// 不是响应性的
					/*
					Object.assign(this.obj,{
						year:2018,
						day:1201
					});
					*/
					/*不是响应的 依赖插件<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"><script>*/
					/*_.extend(this.obj,{
						year:2018,
						day:1201
					});
					*/
					this.obj=Object.assign({},this.obj,{
						year:2018,
						day:1201
					});
					console.log(this.obj);
				}
			}
		});

		var app11=new Vue({
			el:"#app-11",
			data:{
				numbers:[1,2,3,4,5,6,7,8,9,10,11,12]
			},
			computed:{
				evenNumber:function(){
					return this.numbers.filter(function(number){
						return number%2===0;
					})
				}
			}
		});

		var app12=new Vue({
			el:"#app-12",
			data:{
				numbers:[1,2,3,4,5,6,7,8,9,10,11,12,13]
			},
			methods:{
				even:function(nums){
					return nums.filter(function(num){
						return num%2===0;
					})
				}
			}
		});

		var app13=new Vue({
			el:"#app-13",
			data:{
				items:[
					{msg:"first msg",isDel:0},
					{msg:"second msg",isDel:1},
					{msg:"third msg",isDel:0}
				]
			}
		});

		var app14=new Vue({
			el:"#app-14",
			data:{
				items:[
					{msg:"a"},
					{msg:"b"},
					{msg:"c"},
					{msg:"d"}
				]
			}
		});

		Vue.component("my-component",{
			props:['item'],
			template:"<li>{{item.msg}}</li>"
		});

		var app15=new Vue({
			el:"#app-15",
			data:{
				items:[
					{id:1,msg:"abc"},
					{id:2,msg:"def"},
					{id:3,msg:"ghi"}
				]
			}
		});
	</script>
</body>
</html>