<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Learn Vue 09</title>
	<!-- 开发环境版本，包含了用帮助的命令行警告 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="Css/default.css"/>	
</head>
<body>
	<h1>表单输入绑定</h1>

	<div id="app"> 
		<p>Message is <span style="color:red;">{{message}}</span></p>
		<input v-model='message' />
		<a href="javascript:void(0)" class="btn" @click="GetMessage">获取message</a>
	</div>

	<div id="app-2">
		<span>Multiline message is:</span>
		<p  style="white-space: pre-line;color:red;">{{message}}</p>
		<textarea v-model="message"></textarea>
		<a href="javascript:void(0)" class="btn" @click="GetMessage">获取message</a>
	</div>
 
	<div id="app-3">
		<input type="checkbox" id="checkbox" v-model="message"/> 
		<label for="checkbox">{{message}}</label>
	</div>

	<div id="app-4">
		<input type="checkbox" value="Jack" id="Jack" v-model="checkNames"/>
		<label for="Jack">Jack</label>
		<input type="checkbox" value="Mike" id="Mike" v-model="checkNames"/>
		<label for="Mike">Mike</label>
		<input type="checkbox" value="John" id="John" v-model="checkNames"/>
		<label for="John">John</label>
		<p>Check Names:{{checkNames}}</p>
	</div>

	<div id="app-5">
		<input type="radio" value="One" id="One" v-model="picked"/>
		<label for="One">One</label>
		<br>
		<input type="radio" value="Two" id="Two" v-model="picked"/>
		<label for="Two">Two</label>
		<p>Picked is : {{picked}}</p>
	</div>

	<div id="app-6">
		<select v-model="selected">
			<option value="">请选择</option>
			<option value="B">A</option>
			<option value="A">B</option>
			<option value="C">C</option>
		</select>
		<p>Selected is :{{selected}}</p>
	</div>

	<div id="app-7">
		<select v-model="selected" multiple style="height:100px"> 
			<option value="A">A</option>
			<option value="B">B</option>
			<option value="C">C</option>
		</select>
		<p>Selected is :{{selected}}</p>
	</div>

	<div id="app-8">
		<select v-model="selected">
			<option v-for="item in items" v-bind:value="item.value">
				{{item.text}}
			</option>
		</select>
		<p>Selected is :{{selected}}</p>
	</div>

	<div id="app-9">
		<p>值绑定</p>
		<input type="checkbox"  v-model="toggle" true-value="yes" false-value="no" /> <label>{{toggle}}</label>
		<!-- 
		//当选中时
		//vm.toggle === 'yes'
		// 当没有选中时
		//vm.toggle === 'no'
		-->

		<input type="radio" v-model="pick" v-bind:value="a"/><label>{{a}}</label>
		<!--
			// 当选中时
			// vm.pick === vm.a
		-->
		<br>

		<select v-model="selected">
			<option v-bind:value="{id:1,name:'zhou'}">123</option>
		</select>
		<!--
			// 当选中时
			// typeof vm.selected // => 'object'
			// vm.selected.number // => 123
		-->
	</div>

	<div id="app-10">
		<p>修饰符</p>		
		<!--.lazy 在“change”时而非“input”时更新 -->
		<input type="text" v-model.lazy="name"/><label>{{name}}</label>
		<br>
		<br>
		<!--.number 将用户的输入值转为数值类型-->
		<input v-model.number="age" type="number"/> <label>{{age}}</label>
		<br>
		<br>
		<!-- .trim 自动过滤用户输入的首尾空白字符-->
		<input v-model.trim="content" type="text"/><label>{{content}}</label>
	</div>

	<script type="text/javascript">
		var app=new Vue({
			el:"#app",
			data:{
				message:""
			},
			methods:{
				GetMessage:function(){
					alert("The message is: "+this.message);
				}
			}
		});

		var app2=new Vue({
			el:"#app-2",
			data:{
				message:""
			},
			methods:{
				GetMessage:function(){
					alert("The Multiline message is: "+this.message);
				}
			}
		});
 
		var app3=new Vue({
			el:"#app-3",
			data:{
				message:true
			}
		});

		var app4=new Vue({
			el:"#app-4",
			data:{
				checkNames:["John"]
			}
		});

		var app5=new Vue({
			el:"#app-5",
			data:{
				picked:"One"
			}
		});

		var app6=new Vue({
			el:"#app-6",
			data:{
				selected:"C"
			}
		});

		var app7=new Vue({
			el:"#app-7",
			data:{
				selected:["C"]
			}
		});

		var app8=new Vue({
			el:"#app-8",
			data:{
				selected:"B",
				items:[
					{text:"One",value:"A"},
					{text:"Two",value:"B"},
					{text:"Three",value:"C"},
					{text:"Four",value:"D"}
				]
			}
		});
		var app9=new Vue({
			el:"#app-9",
			data:{
				toggle:"",
				pick:true,
				a:"zhou",
				//a:{id:1,name:"zhou"},
				selected:""
			}
		});

		var app10=new Vue({
			el:"#app-10",
			data:{
				name:"zhou",
				age:45,
				content:"zhou   zhou  " 
			}
		});
	</script>
</body>
</html>